body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  margin: 8vh auto;
  width: 600px;
}

.container {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  left: 0;
  border-radius: 20%;
  height: 2vh;
  width: 2vh;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid darkred;
  transition: 0.2s linear;
}

.container input:hover ~ .checkmark {
  background-color: rgb(182, 87, 87);
  border: 2px solid darkred;
  box-shadow: 0px 0px 3px darkred;
}

.container input:checked:hover ~ .checkmark {
  background-color: rgb(182, 87, 87);
  border: 2px solid darkred;
  box-shadow: 0px 0px 3px darkred;
}

.container input:checked ~ .checkmark {
  background-color: darkred;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 0.15vw;
  height: 1vh;
  width: 1vh;
  border: solid white;
  border-width: 0 0.4vh 0.4vh 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rm{
  background: darkred;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s linear;
  border: 1px solid rgba(255, 255, 255, 0);
}

.rm:hover{
  background-color: rgb(182, 87, 87);
  border: 1px solid darkred;
  box-shadow: 0px 0px 3px darkred;
}


.done{
  text-decoration: line-through;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid darkred;
  border-color: darkred transparent darkred transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.f{
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  font-size: 22px;
}

.inp{
  border: 2px solid darkred;
  border-radius: 0%;
  text-align: center;
  font-size: inherit;
}

.inp:focus{
  outline: none;
  border: 4px solid darkred;
  font-size: 24px;
}

.inp:focus ~ .but{
  border: 4px solid darkred;
  font-size: 24px;
}

.but{
  border: 2px solid darkred;
  border-radius: 0%;
  font-size: inherit;
  background: darkred;
  color: white;
  cursor: pointer;
}

.but:hover{
  background: rgb(182, 87, 87);
  border: 2px solid rgb(182, 87, 87);
}

.inp:focus ~ .but:hover{
  border: 4px solid rgb(182, 87, 87);
}

/*---------------------------------------------*/

.buttonsGrid button{
  color:black;
  text-shadow: 1px 1px 1px black;
  background-color: grey;
  border: 3px outset darkgrey;
  transition: 0.2s;
  font-size: clamp(12px, 1vw, 2vw);
  height: clamp(30px, 3vw, 80px);
  width: clamp(30px, 3vw, 80px);
}

.buttonsGrid button:hover{
  background-color: dimgray;
  color: white;
  border: 3px inset dimgray;
}

.clear{
  background-color: rgb(185, 11, 40);
  color:black;
  text-shadow: 1px 1px 1px black;
  width: clamp(40px, 5vw, 6vw);
  border: 3px outset  rgb(185, 11, 40);
  transition: 0.2s;
  padding: 2px;
  font-size: inherit;
}

.clear:hover{
    background-color: darkred;
    color: white;
    border: 3px inset darkred;
  }

.formClear{
  display: flex;
  justify-content: center;
  margin-bottom: clamp(15px, 4vh, 3rem);
  font-size: clamp(12px, 1.3vw, 2vw);
  height: clamp(30px, 5vh, 60px);
}

.calc{
  background-color: lightgrey;
  border: 5px outset darkgrey;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  margin-bottom: 8vh;
  width: clamp(200px, 20%, 400px);
}

.in {
  display: flex;
  border: 4px inset darkgrey;
  justify-content: center;
  text-align: center;
  width: 97%;
  height: clamp(20px, 4vh, 5vh);
  background: white;
  padding: 2px;
  font-size: clamp(14px, 1.3vw, 2vw);
  font-weight: bold;
  margin-bottom: clamp(15px, 3vh, 4vh);
}

.in:focus{
  outline: none;
}

.out {
  border: 4px inset rgb(185, 11, 40);
  padding: 2px;
  width: 60%;
  background-color: white;
  font-weight: bold;
  border-radius: 0%;
  text-align: center;
  font-size: inherit;
}

.buttonsGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 2vw;
  column-gap: 2vw;
  justify-items: center;
}

/*.buttonsFlex{
  display: flex;
  justify-content: center;
}*/

.appButtons{
  display: flex;
  justify-content: center;
  height: clamp(50px, 9vh, 250px);
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: clamp(18px, 2.6vh, 50px);
}

.calcAppButton{
  width: clamp(170px, 9vw, 500px);
  background-color: rgb(21, 145, 21);
  border: 0.6vh outset rgb(14, 90, 14);
  margin-right: 0.3vw;
  transition: 0.2s;
  font-size: inherit;
}

.calcAppButton:hover{
  background-color: rgb(24, 100, 24);
  border: 0.6vh inset rgb(14, 90, 14);
  color: white;
}

.toDoListAppButton{
  width: clamp(170px, 9vw, 500px);
  background-color: rgb(172, 121, 28);
  border: 0.6vh outset rgb(117, 96, 2);
  font-size: inherit;
}

.toDoListAppButton:hover{
  background-color: rgb(131, 95, 18);
  border: 0.6vh inset rgb(117, 96, 2); 
  color: white;
}